@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 3rem;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #2d2d2d;
  text-align: left;
  margin: auto;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 1rem;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

